body{
  height: 100vh;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
}

.message{
  border: 1px solid red;
  max-width: 600px ;
  padding: 30px 30px;
  box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.65);
-webkit-box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.65);
-moz-box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.65);
margin: auto;
background: white;
 
}

.message span{
  font-size: 100px;
}

.message p{
  text-align: center;
}

.message h3{
  text-align: end;
}
.button{
  text-align: end;

}

.button button{
  font-size: 20px;
  border-radius: 100%;
  color: white;

  
}